* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li,
a,
button {
  color: whitesmoke;
  text-decoration: none;
}

.lead {
  font-size: 2.5em;
  margin: 3rem 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo {
  width: 8rem;
  cursor: pointer;
}

header {
  height: 38rem;
  background-image: url("/images/header.jpg");
  background-position: center;
  background-size: cover;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
header nav li {
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
}
header nav li a {
  transition: all 0.3 ease 0s;
}
header nav li a:hover {
  color: #a8e62b;
}

.header-text {
  color: whitesmoke;
  text-align: center;
  margin: 23rem;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.2em;
  text-transform: uppercase;
}
.header-text button {
  margin: 1rem;
  padding: 0.8rem 1rem;
  color: #333;
  width: 12rem;
  background-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.3 ease 0s;
}

button {
  margin: 5px;
  padding: 0.8rem 1rem;
  width: 8rem;
  border: 1px whitesmoke solid;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: whitesmoke;
  color: #333;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.icons div {
  margin: 2rem 0;
  color: #333;
  border-right: 1px solid #eeeeee;
  grid-auto-rows: minmax(300px, auto);
  text-align: center;
  padding: 3rem;
}
.icons div i {
  color: #e2e2e2;
  margin: 1rem;
  font-size: 68px;
}
.icons div p {
  font-weight: 200;
}

.divide {
  margin-top: 5em;
  height: 15rem;
  text-align: center;
}
.divide button {
  background-color: #a8e62b;
  width: 10rem;
}

.grid-section {
  height: 40rem;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  grid-gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item.wide {
  grid-column: 2 span;
  grid-row: 2 span;
  background-image: url("./images/cake.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  color: transparent;
  transition: all ease 200ms;
}
.grid-item.wide.wide:hover {
  font-size: 2em;
  color: #333;
  z-index: 10;
}
.grid-item.wide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  transition: all ease 200ms;
}
.grid-item.wide:hover::before {
  background-color: rgba(250, 250, 250, 0.5);
  z-index: -1;
}
.grid-item.tall {
  grid-column: 1 span;
  grid-row: 3 span;
  color: transparent;
  background-image: url("./images/stacked.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  transition: all ease 200ms;
}
.grid-item.tall.tall:hover {
  font-size: 2em;
  color: #333;
  z-index: 10;
}
.grid-item.tall::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  transition: all ease 200ms;
}
.grid-item.tall:hover::before {
  background-color: rgba(250, 250, 250, 0.5);
  z-index: -1;
}
.grid-item.pic-grid {
  grid-column: 2 span;
  grid-row: 1 span;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.nested-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nested-grid.one {
  grid-column: 1 span;
  grid-row: 1 span;
  color: transparent;
  background-image: url("./images/thetwo.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  transition: all ease 200ms;
}
.nested-grid.one.one:hover {
  font-size: 2em;
  color: #333;
  z-index: 10;
}
.nested-grid.one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  transition: all ease 200ms;
}
.nested-grid.one:hover::before {
  background-color: rgba(250, 250, 250, 0.5);
  z-index: -1;
}
.nested-grid.two {
  grid-column: 1 span;
  grid-row: 1 span;
  color: transparent;
  background-image: url("./images/lots.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
}
.nested-grid.two.two:hover {
  font-size: 2em;
  color: #333;
  z-index: 10;
}
.nested-grid.two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  transition: all ease 200ms;
}
.nested-grid.two:hover::before {
  background-color: rgba(250, 250, 250, 0.5);
  z-index: -1;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60rem;
  margin: 2rem;
}

.col-text {
  margin: 1rem;
  padding: 1rem;
  letter-spacing: 1px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-text h2 {
  margin: 1rem;
}

.flavor-col {
  text-align: center;
  margin: 5rem;
}
.flavor-col .title {
  font-size: 4em;
  color: #dedddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flavors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
.flavors li {
  text-transform: uppercase;
  color: dimgray;
  padding: 15px;
  margin: 8px;
  font-size: 20px;
  letter-spacing: 1px;
}

footer {
  height: 20rem;
  background-color: #f1f1f1;
  color: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-item {
  display: flex;
}
.footer-item.center {
  align-self: center;
  justify-content: center;
}
.footer-item.center i {
  margin: 10px;
}
.footer-item.left {
  justify-self: center;
  align-self: center;
  margin: 3rem;
  flex-direction: column;
}
.footer-item.right {
  justify-self: center;
  align-self: center;
  margin: 3rem;
  flex-direction: column;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 30rem;
  background-image: url("/images/reviews.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.reviews::before {
  background-color: rgba(218, 218, 218, 0.434);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  transition: all ease 200ms;
}

.review-card {
  text-align: center;
  background-color: whitesmoke;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  border-radius: 50%;
}
.review-card.one, .review-card.two, .review-card.three {
  padding: 40px;
}
.review-card.one :first-child, .review-card.two :first-child, .review-card.three :first-child {
  margin: 15px;
  text-transform: uppercase;
}
.review-card.one :nth-child(3), .review-card.two :nth-child(3), .review-card.three :nth-child(3) {
  margin: 15px;
  font-size: 20px;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
